@font-face {
    src: url("../fonts/OpenSans-Regular.ttf");
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}
html,body{
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Raleway", sans-serif;
  }
li {
    list-style: none;
}
a.deco-none:hover{
    color:#000000 !important;
    text-decoration:none;
}
a {
    text-decoration: none;
}

header {
    
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 16px;
    transition: all 0.6s ease-out;
    box-shadow: 1px 7px 18px -17px rgba(0,0,0,0.75);
   
}
.traco{
  width: 10vw;
  margin-left:16vw ;
 
  background:  #000;
}
.capa{
    margin-top: 0;
    height: 140vh;
    background-image: url('../svgs/FUNDO.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#Quem{
    background-image: url('../svgs/Fundo\ color.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10vh;

}
.max-header {
    
    height: 0;
    z-index: -1;
}
.min-header {
    background-color: white;
    height: 100px;
    
}
#Inicio{
    background-image: url('../svgs/wt2c.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:1%;
    margin-bottom: 20vh; 
}
.botao:hover{
  background: rgb(116, 4, 4);
}

.imagen1{
    
    width: 40vw;
    height: 35vh;
}
.imagen1{
    background-image: url('../svgs/aviao.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.imagen2{
    width: 43vw;
    height: 35vh;
}
.imagen2{
    background-image: url('../svgs/camiao.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.imagen3{
    width: 43vw;
    height: 35vh;
}
.imagen3{
    background-image: url('../svgs/navio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.cadr1 p{
    color: #878787;
    text-align: justify;
    font-size: 18px;
}
.cadr1{
    opacity: .9;
}
.outroservico{
    color: #878787;
    font-size: 18px;
}
.lista1{
    font-size: 16px;
    font-style: italic;
    color: #878787;
    
}
.sobreservico p{
 text-align: left;
 margin-right: 10vw;
}
.btn{
    margin-left: 10vw;
    margin-right: 10vw;
    
}
.cadr1{
    height: 100%;
    width: 50%;
    border: none;
    background: white;
}
.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas:
        "lgo ... nav";
    grid-template-columns: auto 1fr auto;
    align-content: center;
    
}
.logo {
    grid-area: lgo;
}
.logo svg {
    fill-opacity: 0;
    transition: all 0.4s ease-out;
}
div img {
   margin-top: 23px;
   width: 17vw;
}
.min-logo svg {
    width: 280px;
    fill: #2574a9;
}
.nav-bar {
    grid-area: nav;
    display: grid;
    align-content: center;

}
.nav-bar ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}
.nav-bar a {
    position: relative;
  font-family: "Raleway", sans-serif;
  
    transition: all 0.4s ease-out;
}






.nav-bar a::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
}
.nav-bar a:hover::before {
    transform: scaleX(1);
}
.nav-bar a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
}
.nav-bar a:hover::after {
    transform: scaleX(1);
}
.max-nav a {
    font-size: 1em;
    color: #cae1f1;
    opacity: 0.1;
}
.min-nav a {
    font-size: 0.875em;
    color: #000;

}
.ghost {
    width: 100%;
    height: 100px;
    background-color: white;
}
#footer {
    background: #587187;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #5c768d;
    border-top: 1px solid #768fa6;
    border-bottom: 1px solid #67839c;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #768fa6;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #428bca;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #9eccf4;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #9eccf4;
  }
  
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4;
  }
  
  #footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
  }
  
  #footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #428bca;
    color: #fff;
    transition: 0.3s;
    border-radius: 4;
  }
  
  #footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: #5295ce;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  
  #footer .credits a {
    color: #9eccf4;
  }



  
  

  



















  






@media (max-width: 768px) {
    html,body{
        overflow-x: hidden;
    }
    .max-header {
        height: 80px;
       
    }
    .capa{
        margin-top: 0;
        height: 100vh;
        width: 110vw;
        background-image: url('../svgs/FUNDO.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .max-header{
        width: 50vw;
       
    }
    .min-header {
        height: 60px;
    }

    div img {
        width: 35vw;
    }
    #Inicio{
        height: 130vh;

    }
  #Quem{
   margin-top: 50vh;
  }
  #info{
      margin-top: 110vh;
     
      
  }
  #info p{
  text-align: justify;  
}
    .cadr1 p{
     
       font-size: 12px;
    
    }
    .cadr1{
        opacity: .9;
        width: 130vw;
    }
    .sobreservico{
        text-align: justify;
        margin-left: 12vw;
        width: 110vw;
        font-size: 12px;
    }
    .sobreservico p{
  
        font-size: 12px;
    }
    .lista1 li{
        font-size: 12px;
       

    }
  
 
    .forme{
        width: 100vw;
        
     
    }
    .formulario{
        margin-right: 21vw;
    }
    .imagens{
        margin-top: 70vh;
        
    }
    .imagen1{
        width: 100vw;
    }
    .imagen2{
        width: 99vw;
    }
    .imagen3{
        width: 99vw;
    }
    .segndasimagens{
        display: flex;
        flex-direction: column;
    }
  
    .container {
        position: relative;
        padding: 0 20px;
        grid-template-areas:
            "lgo ... mnu";
    }
    .max-logo svg {
        width: 220px;
    }
    .min-logo svg {
        width: 180px;
    }
    .menu {
        grid-area: mnu;
        display: grid;
        align-content: center;
    }
    .hamburger {
        position: relative;
        width: 28px;
        height: 3px;
        transition: all 0.4s ease-out;
    }
    .hamburger::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
    }
    .hamburger::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
    }
    .max-hamburger, .max-hamburger::before, .max-hamburger::after {
        background-color: #c5eff7;
    }
    .min-hamburger, .min-hamburger::before, .min-hamburger::after {
        background-color: #2574a9;
    }
    .close-btn {
        width: 32px;
        transform: rotateZ(45deg);
    }
    .close-btn::before, .close-btn::after {
        top: 0;
        transform: rotateZ(90deg);
    }
    .nav-bar {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #2980b9;
        transform: translateX(-100%);
        transition: all 0.4s ease-out;
    }
    .max-nav {
        top: 80px;
        height: calc(100vh - 80px);
    }
    .min-nav {
        top: 60px;
        height: calc(100vh - 60px);
    }
    .menu-opened {
        transform: translateX(0);
    }
    .nav-bar ul {
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 80px;
    }
    .nav-bar li {
        text-align: center;
    }
    .min-nav a {
        font-size: 1em;
        color: #c5eff7;
    }
}
main {
    font-size: 20px;
}
main section {
    display: grid;
    justify-content: center;
    align-content: center;
  
}

main section:nth-child(odd) {
    height: 100vh;
    background-color: white;
    
}
main section:nth-child(even) {
    height: 100vh;
    
}#contato{
    background-image: url('../svgs/barco.png');
     background-position-x: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.formulario{
    width: 100vw;
}
.rodape{
    height: 11vh;
    background: #000;
}




















